@inject IConfiguration Configuration
@{
    var foundation = Configuration.GetSection("Foundation");
}

<footer class="footer-two pt-30">
    <img class="shape-2" src="~/assets/img/shape/shape-12.png" alt="shape">
    <img class="shape-3" src="~/assets/img/shape/shape-80.png" alt="shape">
    <div class="container fot-border-2 pt-95">
        <div class="row mb-30">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ht-about-widget mb-30">
                    <div class="footer-logo">
                        <a href="/home/">
                            <img src="~/assets/img/logo/ellis-hope-logo.svg" alt="logo">
                        </a>
                    </div>
                    <ul>
                        <li>
                            <a href="mailto:@foundation["Email"]">@foundation["Email"]</a>
                        </li>
                        <li>
                            <a href="tel:@foundation["Phone"]">@foundation["Phone"]</a>
                        </li>
                    </ul>
                    <div class="social-links">
                        <a href="@foundation["SocialMedia:Facebook"]" target="_blank" rel="noopener"><i class="bi bi-facebook"></i></a>
                        <a href="@foundation["SocialMedia:Twitter"]" target="_blank" rel="noopener"><i class="bi bi-twitter"></i></a>
                        <a href="@foundation["SocialMedia:Instagram"]" target="_blank" rel="noopener"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget ms-xxl-5 mb-30">
                    <h4 class="widget-title">Company</h4>
                    <ul>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/blog/classic">Blog</a></li>
                        <li><a href="/team/v1">Our Team</a></li>
                        <li><a href="/causes/list">Causes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-center">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Get Involved</h4>
                    <ul>
                        <li><a href="/contact">Donate</a></li>
                        <li><a href="/event/list">Events</a></li>
                        <li><a href="/team/v1">Volunteer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 d-flex justify-content-lg-end">
                <div class="footer-widget mb-30">
                    <h4 class="widget-title">Resources</h4>
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/blog/classic">News</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="copyright-text text-lg-start text-center mb-lg-0 mb-md-4">
                        © Copyright @DateTime.Now.Year
                        <a href="/home/">@foundation["Name"]</a>. All Rights Reserved.
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 text-xl-end text-center">
                    <ul class="footer-menu">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
